body {
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica";
}
/*Containers*/
#containerP {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#containerE {
    height: 100%;
    width: 20%;
}
#containerS {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top right, red, orange);
}
#containerM {
    height: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
#containerI {
    height: 92.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#carta {
    height: 120px;
    width: 75px;
    border-radius: 10px;
    background-image: linear-gradient(to right, red, orange);
}
#containerD {
    height: 100%;
    width: 80%;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#containerT {
    height: 75%;
    width: 25%;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-style: solid;
    border-radius: 20px;
}
#containerT1 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("Icones/foto.jpg");
    border-radius: 15px 15px 0px 0px;
}
#containerT2 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#containerB {
    height: 5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 5px;
}
/*Titulos*/
h1 {
    font-size: 12px;
    color: black;
    text-align: center;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 18px;
    color: white;
    font-size: 18px;
}
/*Parágrafos*/
#matches {
    font-size: 14px;
    border-bottom: solid 2px red;
}
#mensagens {
    font-size: 14px;
    padding-left: 10px;
}
#opiniao {
    text-align: center;
}
#status {
    color: white;
    font-size: 10px
}
#curso {
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}
#oculto {
    font-size: 11px;
    color: white;
    background-color: gray;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: gray;
}
.base {
    color: gray;
    font-size: 11px;
    text-align: center;
}
/*Button*/
button {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(145, 139, 139, 0.3);
    border-radius: 15px;
}
/*Input*/
input {
    height: 12px;
    width: 120px;
}
/*Imagens*/
#logo {
    height: 13px;
    width: 13px;
    border-style: solid;
    border-radius: 50%;
}
.icone {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
.retorno {
    border-color: white;
}
.x {
    border-color: red;
}
.estrela {
    border-color: lightblue;
}
.coração {
    border-color: lightgreen;
}
.raio {
    border-color: purple;
}
.imgb {
    height: 20px;
    width: 20px;
}